<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Minha Página</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light margin">
		<a class="navbar-brand" href="#"> <img
			src="/images/imgp1/face.PNG" class="rounded-circle" width="220px">
		</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#quem_somos">
						Quem sou </a></li>
				<li class="nav-item"><a class="nav-link" href="#parceiros">
						Parceiros </a></li>
				<li class="nav-item"><a class="nav-link" href="#conhecimentos">
						Conhecimentos </a></li>
			</ul>
		</div>
	</nav>

	<section id="quem_somos">
		<div class="container-fluid quem-somos text-center margin ">
			<h3 class="margin">Quem somos</h3>
			<img src="/images/imgp1/family.PNG" width="850px" height="550px">
			<h3>Meu nome é Renan Bezerra Gomes tenho 29 anos sou casado e
				tenho uma familia muito carinhosa, sou uma pessoa integra e muito
				dedicada com a minha vida adoro aprender algo novo e gosto muito de
				desafios, me exercito diariamente e gosto de preparar minha rotina.</h3>
		</div>
	</section>
	<section id="parceiros">
		<div class="container-fluid text-center margin parceiros ">
			<h3 class="margin">Parceiros</h3>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<img src="/images/imgp1/parceiros 1.jpg" class="rounded-circle"
							width="100%" height="300px">
					</div>
					<div class="col-lg-3">
						<img src="/images/imgp1/parceiro4.PNG" class="rounded-circle"
							width="100%" height="300px">
					</div>
					<div class="col-lg-3">
						<img src="/images/imgp1/gft.PNG" class="rounded-circle"
							width="100%" height="300px">
					</div>
					<div class="col-lg-3">
						<img src="/images/imgp1/innovation.PNG" class="rounded-circle"
							width="100%" height="300px">
					</div>

				</div>
			</div>
		</div>
	</section>
	<section id="conhecimentos">
		<div class="container-fluid text-center margin servicos">
			<h3 class="margin">Conhecimentos</h3>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<p>HTML5,CSS3,Bootstrap,javascript</p>
						<img src="/images/imgp1/site1.jpg" width="100%" height="300px">

						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							
							 <label class="btn btn-secondary"> <input type="radio"
								name="options" id="option1" autocomplete="off" onclick="window.open('/p1','blank')"> projeto1
							</label>
							 <label class="btn btn-secondary"> <input type="radio"
								name="options" id="option2" autocomplete="off" onclick="window.open('/p2','blank')"> projeto2
							</label>
							<label class="btn btn-secondary"> <input type="radio"
								name="options" id="option3" autocomplete="off" onclick="window.open('/p3','blank')"> projeto3
							</label>
							<label class="btn btn-secondary"> <input type="radio"
								name="options" id="option4" autocomplete="off" onclick="window.open('/p4','blank')"> projeto4
							</label>
							
						</div>

					</div>


					<div class="col-lg-6">
						<p>JAVA(spring), Python, Mysql, GIT</p>
						<img src="/images/imgp1/javaSpring.PNG" width="100%"
							height="300px">

					</div>



				</div>
			</div>
		</div>
	</section>
	<footer class="container-fluid text-center bg-footer margin">
		<p>
			Desenvolvido por Renan Bezerra Gomes<br> Contatos: <br> cel:
			(011)98407-9919<br> email:renanbg90@gmail.com<br> <a
				class="nav-link"
				href="https://www.linkedin.com/in/renan-bezerra-gomez-5b38a169/">
				<img src="/images/imgp1/linkedinIcon.PNG" width="100" height="50"> Linkedin </a> <i class="fab fa-github"></i><a class="nav-link" href="https://github.com/RenanBezerra">
				<img src="/images/imgp1/githubIcon.PNG" width="50" height="50">GitHub </a>
		</p>
	</footer>
</body>
</html>